<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="https" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="domain" value="$(SpendManagementApiUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiUsername" value="adminexpedite" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiPassword" value="$(apiPassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiDefaultCompanyId" value="ex_main" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableMinimumFundEmail" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>