<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 
    Change these to match the target once installed on the server.
    If the WebAPI has it's web config setting of UseHTTPS
    set to 1, then the https key must also be set to 1.
    The domain key should be the public location of the API.
    -->
    <add key="https" value="0" />
    <add key="domain" value="smapi.localhost" />
   <add key="apiUsername" value="greg"/>
    <add key="apiPassword" value="vlUnCTgO1bFJXxfib/suGQ=="/>
    <add key="apiDefaultCompanyId" value="ex_dstar" />
  <add key="EnableMinimumFundEmail" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
