<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="$(redisServer_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ReceiptQueue" value="receipt_queue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MessageBroker" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RackSpaceCloudUsername" value="benjamin.hoe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RackSpaceCloudApiKey" value="$(rackspaceCloudApiKey_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DataStoreMode" value="filesystem" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- This should be "cloudfiles" or "filesystem". The filesystem root is used below if not cloud files. -->
    <add key="DataStoreFileSystemModeRootPath" value="D:\Products\Testing\Receipts\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>