<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PollIntervalMilliseconds" value="30000" />
    <add key="DeleteFilesXDaysAfterProcessed" value="7" />
    <add key="StartImmediately" value="true" />
    <add key="ExtendedLogging" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\Products\main\log\HubTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics performanceCounters="All" />

    <behaviors>
      <serviceBehaviors>
        <behavior name="EsrNhsHubBehaviour">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="EsrRouterToProcessorBinding" receiveTimeout="00:15:00" closeTimeout="00:15:00" openTimeout="00:15:00" sendTimeout="00:15:00" transferMode="StreamedRequest" maxBufferSize="65536" maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="EsrFileProcessorBinding" receiveTimeout="00:15:00" closeTimeout="00:15:00" openTimeout="00:15:00" sendTimeout="00:15:00" transferMode="StreamedRequest" maxBufferSize="65536" maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://localhost:15001/EsrRouter/ToProcessor"
        binding="netTcpBinding" bindingConfiguration="EsrRouterToProcessorBinding"
        contract="EsrFileProcessor.IEsrFileProcessor" name="EsrRouterToProcessorEndpoint" />
    </client>

    <services>
      <service name="EsrNhsHubFileTransferService.Code.CommandChannel.EsrNhsHubCommands" behaviorConfiguration="EsrNhsHubBehaviour">
        <endpoint name="EsrNhsHubEndpoint" address="" binding="netTcpBinding" contract="EsrNhsHubFileTransferService.Code.CommandChannel.IEsrNhsHubCommands" />
        <endpoint name="EsrNhsHubMex" address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15002/EsrNhsHubCommands" />
          </baseAddresses>
        </host>
      </service>
    </services>


    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="esrNhsHubEntities" connectionString="metadata=res://*/Code.Database.esrNhsHub.csdl|res://*/Code.Database.esrNhsHub.ssdl|res://*/Code.Database.esrNhsHub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Gaia;initial catalog=MainEsrNhsHub;persist security info=True;user id=esrnhshubuser;password=QcqK45hdr3Les2Oz2+t+rR1797naaecxMjnHUlAYBrM=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
