<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="esrNhsHubEntities" connectionString="metadata=res://*/Code.Database.esrNhsHub.csdl|res://*/Code.Database.esrNhsHub.ssdl|res://*/Code.Database.esrNhsHub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=$(esrLinkServerInternal_token);Initial Catalog=EsrNhsHub;persist security info=True;user id=esrNhsHubUser;password=$(esrNhsHubUserPassword_token);MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="PollIntervalMilliseconds" value="30000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DeleteFilesXDaysAfterProcessed" value="7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StartImmediately" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExtendedLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Services\EsrNhsHubFileTransferService\HubTraces.svclog" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://$(esrLinkServerInternal_token):15001/EsrRouter/ToProcessor" binding="netTcpBinding" bindingConfiguration="EsrRouterToProcessorBinding" contract="EsrFileProcessor.IEsrFileProcessor" name="EsrRouterToProcessorEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>

    <services>
      <service name="EsrNhsHubFileTransferService.Code.CommandChannel.EsrNhsHubCommands" behaviorConfiguration="EsrNhsHubBehaviour">
        <!--<endpoint name="EsrNhsHubEndpoint" address="" binding="netTcpBinding" contract="EsrNhsHubFileTransferService.Code.CommandChannel.IEsrNhsHubCommands" />
        <endpoint name="EsrNhsHubMex" address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://$(nhsLinkServerInternal_token):15002/EsrNhsHubCommands" xdt:Transform="Replace" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>