<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="defaultModule" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="$(reportsServicePort_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OfflineService" value="$(siteUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NumberOfThreads" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThreadPollInterval" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ESRService" value="$(siteUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="headerDefault" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpassword" value="$(databasePassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationInstanceName" value="Report Server" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsOutputFilePath" value="D:\Report Files\Reportfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HostedEntityImageLocation" value="\\$(cachingServer_token)\EntityImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="tempDocMergeImageLocation" value="\\$(cachingServer_token)\EntityImages\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SqlTimeoutMinutes" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportCleanupTimeout" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="CacheType" value="2"/>-->
  </appSettings>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>

</configuration>