<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="defaultModule" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="1976" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThreadPollInterval" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="headerDefault" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>

</configuration>