<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="metabase" value="expenses"/>
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ=="/>
    <add key="ImplementationSpreadsheetXMLTemplatePath" value="\\paulglt\shared\XMLImportMappings"/>
    <add key="apiBatchSize" value="5000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Shared\log\CrudTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="EsrFileProcessorBehaviour" name="EsrGo2FromNhsWcfLibrary.EsrFileProcessor">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="EsrFileProcessorBinding" contract="EsrGo2FromNhsWcfLibrary.Interfaces.IEsrFileProcessor">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15003/EsrFileProcessor"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="EsrFileProcessorBinding" receiveTimeout="00:15:00"
          transferMode="StreamedRequest" maxBufferSize="65536" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="200" maxStringContentLength="200000000"
            maxArrayLength="1073741824" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="EsrRouterBinding" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="EsrRouterToHubEndpoint" address="net.tcp://localhost:15001/EsrRouter/ToHub" binding="netTcpBinding" bindingConfiguration="EsrRouterBinding" contract="EsrNhsHubCommands.IEsrNhsHubCommands" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EsrFileProcessorBehaviour">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="expenses" connectionString="Data Source=gaia;Initial Catalog=TestingMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
    <add name="framework" connectionString="Data Source=gaia;Initial Catalog=TestingMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
    <add name="ApiLog" connectionString="Data Source=gaia;Initial Catalog=TestingApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <couchbase>
    <servers bucket="expenses" bucketPassword="">
      <add uri="http://127.0.0.1:8091/pools"/>
    </servers>
  </couchbase>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>
