<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=$(databaseServer_token);Initial Catalog=ApiLog;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="globaladdresses" connectionString="Data Source=$(databaseServer_token);Initial Catalog=GlobalAddresses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="$(redisServer_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--Global Variable app settings-->
    <add key="dbpassword" value="$(databasePassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="defaultModule" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.WebServer>
    <security xdt:Transform="InsertBefore(/configuration/system.webServer)">
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <add ipAddress="86.188.224.2" allowed="true" />
        <add ipAddress="$(InternalWEB14_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB15_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB16_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB17_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB18_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB19_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB20_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalWEB21_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
        <add ipAddress="$(InternalServicesServer_token)" allowed="true" xdt:Transform="SetAttributes" xdt:Locator="Match(ipAddress)" />
      </ipSecurity>
    </security>
  </system.WebServer>
</configuration>