<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ESRFileTransfer" connectionString="Data Source=$(databaseServer_token);Initial Catalog=MainESRFileTransfer;User ID=ESRUser;Password=$(esrUserPassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Port" value="7766" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebServicePollTime" value="180000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ESRService" value="$(siteUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailServer" value="sodium.nibley.local" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogEmailAddress" value="esrtransfer@software-europe.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ErrorEmailAddress" value="errors@software-europe.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="dbpassword" value="$(esrUserPassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="active_module" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>