<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ESRFileTransfer" connectionString="Data Source=localhost;Initial Catalog=DevelopmentESRFileTransfer;User ID=ESRUser;Password=Uhakuh8ZJHBe3U+gncd58A==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Port" value="7766"/>
    <add key="WebServicePollTime" value="60000"/>
    <add key="ESRService" value="http://localhost/teammarvel/expenses"/>
    <add key="EmailServer" value ="mail.selenity.com"/>
    <add key="LogEmailAddress" value="testers@selenity.com"/>
    <add key="ErrorEmailAddress" value="testers@selenity.com"/>
    <add key="dbpassword" value="Uhakuh8ZJHBe3U+gncd58A=="/>
    <!-- 53RL0g1n -->
    <add key="active_module" value="8"/>
  </appSettings>
</configuration>
