<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.208.0.138" newVersion="9.208.0.138"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Tools.Web" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.208.0.138" newVersion="9.208.0.138"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Shared.Web" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.208.0.138" newVersion="9.208.0.138"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3D67ED1F87D44C89" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.208.0.138" newVersion="9.208.0.138"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
