<log4net  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <RemoteAddress value="192.168.111.83"  xdt:Transform="Replace" />
    <RemotePort value="5960"  xdt:Transform="Replace" />
    <layout type="Common.Logging.Log4Net.JsonLayout, Common">
      <member value="property{activityid}" />
      <member value="property{accountid}" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="UdpAppender"/>
  </root>
</log4net>