<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="SqlUnitTesting_VS2010" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=10.3.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="SqlUnitTesting_VS2012" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=11.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="expenses" connectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="unittestdb" connectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="ApiLog" connectionString="Data Source=gaia;Initial Catalog=MainAPILog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
		<add name="globaladdresses" connectionString="Data Source=gaia;Initial Catalog=MainGlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UnitTestSettings" value="true" />
    <add key="AccountID" value="262" />
    <!--AccountID of the database in the metabase-->
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="active_module" value="2" />
    <add key="EmployeeID" value="21333" />
    <add key="AlternativeEmployeeID" value="21362" />
    <add key="DelegateID" value="21333" /> 
    <add key="SubAccountID" value="1" />
    <add key="DefaultSubAccountID" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AttachmentsZipDestinationPath" value="c:\zipcreatortest\" />
    <add key="AttachmentsTestFilesPath" value="c:\zipcreatortestfiles\" />
    <add key="LocationForCardTestFiles" value="\\192.168.111.18\Products\Team Marvel\Test Data Files\" />
    <add key="MobileAPI" value="http://localhost/MobileIntegrationDevelopment/expenses/shared/api/mobile/mobileAPI.svc" />
    <add key="UnitTestImagesPath" value="D:\Unit Tests Prerequisites\images\" />
    <add key="StaticLibraryPath" value="http://localhost/static" />
    <!-- Specify the Windows Explorer Folder location for our Static Library. This can be a Shared folder, such as \\shared\static content -->
		<add key="StaticLibraryFolderLocation" value="\\192.168.111.55\Products\main\Static" />
		<add key="ImplementationSpreadsheetXMLTemplatePath" value="\\192.168.111.55\Products\main\XMLImportMappings"/>
		<add key="ApiCrudUrl" value="http://sw4.sel-expenses.com/API.svc" />
    <add key="metabase" value="expenses" />
    <add key="UseHttps" value="0" />
    <add key="skipAuth" value="0" />
    <add key="DataStoreMode" value="filesystem" />
    <!-- This should be "cloudfiles" or "filesystem". The filesystem root is used below if not cloud files. -->
    <add key="DataStoreFileSystemModeRootPath" value="D:\CloudReceipts\" />
    <add key="SelPrivateCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.pfx" />
    <add key="SelPrivateCertificatePassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="MobileUserAgent" value="Not a real agent" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
  </startup>
  <SqlUnitTesting_VS2010>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Pooling=False" CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Pooling=False" CommandTimeout="30" />
  </SqlUnitTesting_VS2010>
  <SqlUnitTesting_VS2012>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Pooling=False" CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Pooling=False" CommandTimeout="30" />
  </SqlUnitTesting_VS2012>
  <couchbase>
    <servers bucket="Main" bucketPassword="">
      <add uri="http://192.168.111.55:8091/pools" />
    </servers>
  </couchbase>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
