<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="https" value="0"/>
    <add key="domain" value="main8.sel-expenses.com"/> <!--API domain--> 
    <add key="apiDefaultCompanyId" value="ex_main" /> <!--Default company ID to start the application-->
    <add key="openExchangeRates" value="c8e8e626cef34daaa152a68d60205150"/>
    <add key="NumberOfCardProviders" value="1" />
    <add key="1" value="c:\shared\hsbc"/>
    <add key="id1" value="Automatic HSBC"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
