<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="https" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="domain" value="$(SpendManagementApiUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiDefaultCompanyId" value="ex_main"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="openExchangeRates" value="c8e8e626cef34daaa152a68d60205150" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NumberOfCardProviders" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="1" value="\\$(cachingServer_token)\Shared Folder\HSBC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="id1" value="Automatic HSBC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>