<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="metabase" value="expenses"/>
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ=="/>
    <add key="ImplementationSpreadsheetXMLTemplatePath" value="\\marvel\Products\Team Marvel\XMLImportMappings"/>
    <add key="apiBatchSize" value="5000"/>
    <add key="UseBatchSavesForSingleRecords" value="true"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\Products\Team Marvel\log\CrudTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true"/>
    </diagnostics>
    <services>
      <service name="EsrGo2FromNhs.EsrFileProcessor" behaviorConfiguration="EsrFileProcessorBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/EsrGo2FromNhs/service"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="processor" name="EsrFileProcessor" contract="EsrGo2FromNhs.Interfaces.IEsrFileProcessor"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="processor" maxBufferSize="200000000" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <readerQuotas maxDepth="200" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="processor" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="65536" maxBufferSize="65536" maxReceivedMessageSize="1073741824" transferMode="StreamedRequest"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="processor" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <readerQuotas maxDepth="200" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="EsrFileProcessorBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="restEndpoint" defaultOutgoingResponseFormat="Json" maxBufferSize="200000000" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000">
          <readerQuotas maxDepth="200" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
  </system.serviceModel>
  <connectionStrings>
    <add name="expenses" connectionString="Data Source=localhost;Initial Catalog=TeamMarvelMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
    <add name="framework" connectionString="Data Source=localhost;Initial Catalog=TeamMarvelMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
    <add name="ApiLog" connectionString="Data Source=localhost;Initial Catalog=TeamMarvelApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <couchbase>
    <servers bucket="TeamMarvel" bucketPassword="">
      <add uri="http://127.0.0.1:8091/pools"/>
    </servers>
  </couchbase>
</configuration>
