<log4net>
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <RemoteAddress value="192.168.111.83" />
    <RemotePort value="5960" />
    <layout type="Common.Logging.Log4Net.JsonLayout, Common">
      <member value="property{activityid}" />
      <member value="property{url}" />
      <member value="property{ip}" />
      <member value="property{useragent}" />
      <member value="property{accountid}" />
      <member value="property{subaccountid}" />
      <member value="property{employeeid}" />
      <member value="property{delegateid}" />
      <member value="property{session}" />
      <member value="property{post}" />
      <member value="property{cookies}" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="UdpAppender"/>
  </root>
</log4net>