<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabase;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=$(databaseServer_token);Initial Catalog=ApiLog;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="globaladdresses" connectionString="Data Source=$(databaseServer_token);Initial Catalog=GlobalAddresses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="$(redisServer_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="uk.co.software_europe.support.helpandsupport" value="http://support.software-europe.co.uk/helpandsupport.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsServicePath" value="tcp://$(servicesServer_token):7711" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SchedulerServicePath" value="tcp://$(servicesServer_token):7712" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ImplementationSpreadsheetXMLTemplatePath" value="D:\Products\$(releaseVersion_token)\sites\Spend Management\XMLImportMappings\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpassword" value="$(databasePassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationInstanceName" value="Framework Live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsOutputFilePath" value="\\$(servicesServer_token)\ReportFiles\Reportfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HostedEntityImageLocation" value="\\$(cachingServer_token)\EntityImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="tempDocMergeImageLocation" value="\\$(cachingServer_token)\EntityImages\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StaticLibraryFolderLocation" value="\\$(cachingServer_token)\Shared Folder\StaticContent" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="NewRelicDetailedLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SalesForceApiSandboxMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SalesForceApiUsername" value="api@software-europe.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SalesForceApiPassword" value="$(salesForceApiPassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SalesForceKnowledgeArticleProducts" value="Framework__c, Greenlight__c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableBrokers" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocMergeRetryStatusMax" value="500" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocMergeRetryAttempts" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocMergeRetrySleepTime" value="3000"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocMergeSkipTableOfContents" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="SelPrivateCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.pfx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SelPrivateCertificatePassword" value="p3hki/v7oLcZhsNMkx/4mA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SelPublicCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.cer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="CLOUD Server 15,Framework" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PermittedHtmlTagsPath" value="D:\Products\$(releaseVersion_token)\sites\Spend Management\XMLPermittedHtmlTags\PermittedHtmlTags.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PublicApiUrl" value="$(PublicApiUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	<add key="EmailTemplateFilePath" value="\\10.181.193.105\Shared Folder\email templates\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <sessionState timeout="120" xdt:Transform="Replace" />

    <customErrors mode="RemoteOnly" defaultRedirect="~/publicPages/error.aspx" xdt:Transform="Replace" >
      <error statusCode="404" redirect="~/publicPages/error.aspx?404" />
      <error statusCode="500" redirect="~/publicPages/error.aspx?500" />
    </customErrors>
  </system.web>

  <couchbase>
    <servers bucket="framework" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>