<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.ASPNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="9.0.0.0" href="file:///C:/Program%20Files/Microsoft%20Visual%20Studio%209.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.ASPNetHelper.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CKEditor.NET" publicKeyToken="e379cdf2f8354999" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.4460.0.15" newVersion="14.4460.0.15" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="globaladdresses" connectionString="Data Source=GAIA;Initial Catalog=MainGlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="metabase" connectionString="Data Source=GAIA;Initial Catalog=MainMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="redis" connectionString="localhost:6379" />
  </connectionStrings>
  <appSettings>
    <add key="DataDynamicsARLic" value="Martin Walker,Software Europe,DD-ARN-30-CU02787,FO78HSUS9HM77VU47WSK" />
    <add key="uk.co.software_europe.support.helpandsupport" value="http://support.software-europe.co.uk/helpandsupport.asmx" />
    <add key="ReportsServicePath" value="tcp://localhost:7796" />
    <add key="SchedulerServicePath" value="tcp://localhost:7797" />
    <add key="HomePageDefault" value="~/home.aspx" />
    <add key="defaultTheme" value="FrameworkTheme" />
    <add key="SSLRedirect" value="0" />
    <add key="SSLDomains" value="sel-framework.com,smartdiligence,sel-expenses" />
    <add key="ImplementationSpreadsheetXMLTemplatePath" value="D:\Products\Main\XMLImportMappings\" />
    <add key="ImportSampleRowCount" value="10" />
    <add key="ServiceDeskOpeningHours" value="The opening hours for the Service Desk are 8:30am till 5:30pm, Monday to Friday, except on UK public holidays." />
    <add key="OfflinePort" value="7788" />
    <add key="SupportEmailAddress" value="support@software-europe.co.uk" />
    <add key="SupportPortalUrl" value="http://help.software-europe.co.uk" />
    <!-- URL to the support portal, no trailing slash and no querystring -->
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <!-- <add key="spAuthName" value="test" /> -->
    <!-- <add key="spAuthPassword" value="password" /> -->
    <add key="ApplicationInstanceName" value="Framework (Main)" />
    <add key="logonImage_first" value="1" />
    <!-- Specify the first image number in a range to use on the logon page (/shared/images/logonimages/X.png) -->
    <add key="logonImage_last" value="5" />
    <add key="StaticLibraryPath" value="/static" />
    <add key="CharacterDottingLength" value="30" />
    <add key="DisallowedAttachmentTypes" value="exe,js,com,srn" />
    <add key="ReportsOutputFilePath" value="D:\Products\ReportFiles\Reportfiles" />
    <add key="HostedEntityImageLocation" value="D:\Products\Main\EntityImages" />
    <add key="tempDocMergeImageLocation" value="D:\Products\Main\EntityImages\" />
    <add key="LogonPageImagesPath" value="/shared/images/" />
    <add key="ImagesBaseAddress" value="/shared/images/" />
    <add key="GreenLightInfoPage" value="http://www.selenity.com/eform-software/" />
    <!-- Specify the Windows Explorer Folder location for our Static Library. This can be a Shared folder, such as \\shared\static content -->
    <add key="StaticLibraryFolderLocation" value="D:\Products\Main\StaticContent" />
    <!-- PurchaseOrders=1, expenses=2, contracts=3, SpendManagement=4, SmartDilligence=5 -->
    <add key="MobileDisabledMenuLink" value="" />
    <add key="MobileDisabledMenuDescription" value="" />
    <add key="MobileDisabledMenuTitle" value="" />
    <add key="MobileDisabledMenuIcon" value="" />
    <add key="MobileActiveMenuLink" value="" />
    <add key="MobileActiveMenuDescription" value="" />
    <add key="MobileActiveMenuTitle" value="" />
    <add key="MobileActiveMenuIcon" value="" />
    <add key="SalesForceApiSandboxMode" value="true" />
    <!-- this key is only actually needed if you want to use SalesForce API in sandbox mode -->
    <add key="SalesForceApiUsername" value="api@software-europe.com" />
    <!-- in sandbox mode this value will have .sandbox appended, as the sandbox username is api.software-europe.com.sandbox -->
    <add key="SalesForceApiPassword" value="P3ngu1nsi2jlvLuBU2S45gj1EtKu7ak48" />
    <add key="SalesForceKnowledgeArticleProducts" value="Framework__c, Greenlight__c" />
    <add key="ReleaseMode" value="Release" />
    <add key="EnableBrokers" value="false" />
    <add key="DocMergeRetryStatusMax" value="500" />
    <add key="DocMergeRetryAttempts" value="3" />
    <add key="DocMergeRetrySleepTime" value="3000" />
    <add key="SelPrivateCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.pfx" />
    <add key="SelPrivateCertificatePassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="SelPublicCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.cer" />
    <add key="NewRelic.AppName" value="Testing" />
    <add key="PermittedHtmlTagsPath" value="D:\Products\Main\XMLPermittedHtmlTags\PermittedHtmlTags.xml" />
    <add key="PublicApiUrl" value="http://development.api.localhost" />
  </appSettings>
  <!-- application specific settings -->
  <system.web>
    <machineKey validationKey="FC1F3BEE27D60BCCB1EF3D823818AA041613EBF8397598867E4C97583B71C39E7E149324864A620C71AFC6D9FD4EB4E638DC3035716FFD3C9F2204D263E8F94E" decryptionKey="217064D25C4F52FFEA3B8C44E59962F62392E6E329598DF4" validation="SHA1" />
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="igtbl" namespace="Infragistics.WebUI.UltraWebGrid" assembly="Infragistics4.WebUI.UltraWebGrid.v11.1" />
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="igcmbo" namespace="Infragistics.WebUI.WebCombo" assembly="Infragistics4.WebUI.WebCombo.v11.1" />
        <add tagPrefix="igcalc" namespace="Infragistics.WebUI.UltraWebCalcManager" assembly="Infragistics4.WebUI.UltraWebCalcManager.v11.1" />
        <add tagPrefix="igmisc" namespace="Infragistics.WebUI.Misc" assembly="Infragistics4.WebUI.Misc.v11.1" />
        <add tagPrefix="igtbar" namespace="Infragistics.WebUI.UltraWebToolbar" assembly="Infragistics4.WebUI.UltraWebToolbar.v11.1" />
        <add tagPrefix="igtxt" namespace="Infragistics.WebUI.WebDataInput" assembly="Infragistics4.WebUI.WebDataInput.v11.1" />
        <add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v11.1" />
        <add tagPrefix="igexcel" namespace="Infragistics.Excel" assembly="Infragistics4.Excel.v11.1" />
        <add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebDateChooser.v11.1" />
        <add tagPrefix="igtblexp" namespace="Infragistics.WebUI.UltraWebGrid.ExcelExport" assembly="Infragistics4.WebUI.UltraWebGrid.ExcelExport.v11.1" />
        <add tagPrefix="ignav" namespace="Infragistics.WebUI.UltraWebNavigator" assembly="Infragistics4.WebUI.UltraWebNavigator.v11.1" />
        <add tagPrefix="igchart" namespace="Infragistics.WebUI.UltraWebChart" assembly="Infragistics4.WebUI.UltraWebChart.v11.1" />
        <add tagPrefix="igtab" namespace="Infragistics.WebUI.UltraWebTab" assembly="Infragistics4.WebUI.UltraWebTab.v11.1" />
        <add tagPrefix="helpers" namespace="SpendManagementHelpers" assembly="SpendManagementHelpers" />
      </controls>
      <namespaces>
        <add namespace="Microsoft.VisualBasic" />
        <add namespace="System.Data" />
        <add namespace="System.Drawing" />
      </namespaces>
      <!--<tagMapping>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
			</tagMapping>-->
    </pages>

    <customErrors mode="Off" defaultRedirect="~/publicPages/error.aspx">
      <error statusCode="404" redirect="~/publicPages/error.aspx?404" />
      <error statusCode="500" redirect="~/publicPages/error.aspx?500" />
    </customErrors>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <sessionState timeout="120" />
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->

    <authentication mode="Forms">
      <forms name=".SpendManagement" loginUrl="~/shared/logon.aspx" timeout="120" protection="All" defaultUrl="~/Default.aspx">
      </forms>
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <deny users="?" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=4.1.7.123, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Infragistics4.Web.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.Shared.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.WebDataInput.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.Misc.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.WebDateChooser.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics4.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebHtmlEditor.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebSchedule.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <remove verb="GET" path="getDocument.axd" />
      <add verb="GET" path="getDocument.axd" type="Spend_Management.getDocument" />
      <remove verb="*" path="shared/AjaxFileUploadHandler.axd" />
      <add verb="*" path="shared/AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </httpHandlers>
    <httpRuntime executionTimeout="90" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <globalization culture="en-GB" uiCulture="en-GB" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="getDocument" />
      <add name="getDocument" verb="GET" path="getDocument.axd" type="Spend_Management.getDocument" />
      <remove name="AjaxFileUploadHandler" />
      <add name="AjaxFileUploadHandler" verb="*" path="shared/AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
        <jsonSerialization maxJsonLength="2147483647">
        </jsonSerialization>
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    
	<globalization requestEncoding="utf-8" responseEncoding="utf-8"/> -->
  <!--  <httpRuntime executionTimeout="90" maxRequestLength="20480" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/> -->
  <!-- <identity impersonate="true"/> -->
  <!--<xhtmlConformance mode="Legacy"/> -->
  <location path="shared/forgottendetails.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/register.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/register_success.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/webservices/svcToolTip.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/webServices/svcaddresses.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/css" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/Authenticate.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FWEmailServer.asmx">
    <system.web>
      <authorization>
        <allow users="?"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="userhelp">
    <system.web>
      <authorization>
        <allow users="?"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="FWSetupRecharge.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="FWSetup.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="shared/webservices/svcLogon.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/AjaxFileUploadHandler.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/master" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/common" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/jQuery" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/tooltips" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/logon" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="publicPages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/sso.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <couchbase>
    <servers bucket="framework" bucketPassword="">
      <add uri="http://127.0.0.1:8091/pools" />
    </servers>
  </couchbase>
</configuration>
