<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="https" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="domain" value="webapi.sel-expenses.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiUsername" value="adminexpedite" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiPassword" value="$(apiPassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiDefaultCompanyId" value="testing" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>