<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=81.109.165.78;Initial Catalog=metabase;User ID=spenduser;Password=P3ngu1ns;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>