* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ProximaNova-Medium';
    src: url('fonts/ProximaNova-Medium.woff') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('fonts/ProximaNova-Light.woff') format('truetype');
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

p {
    font-size: 11px;
}

html, body, .page-wrapper {
    height: 100%;
}

#logonTopPanel {
    float: left;
    border-radius: 5px;
}



#titlebar-wrapper {
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background-color: #252525;
    
}

#titlebar {
    position: relative;
    height: 46px;
    color: #FCFCFC;
    padding: 0 10px;
}

#titlebar h1 {
    font-size: 22px;
    font-weight: normal;
    float: left;
    margin: 10px 0 0 0;
}

#titlebar a {
    float: right;
    color: #FCFCFC;
    text-decoration: none;
    border-bottom: 1px dotted #FCFCFC;
    margin: 13px 0 0 0;
}

#front-background {
    height: 200%;
    left: -50%;
    position: fixed;
    width: 200%;
}

#front-background img {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}

#front-panel {
    height: 260px;
    width: 100%;
}

#modal-panel {
   float: left;
    border-radius: 8px;
    padding: 3px;
    margin-left:15%;
    background-color: rgba(0, 0, 0, 1);
    min-width: 535px;
    margin-top: 35%;
}

.logonBottomPanel {
    width: 540px;
	clear: left;
    padding: 4px 0 0 0;
    color: #E8E8E8;
}

.logonBottomPanel h4 {
    font-size: 14px;
}

.logonBottomPanel p {
    margin: 6px 0 2px 0;
}

div#forgottenDetailsPanel {
    display:none;
}

#logonleftpanel {
    padding: 10px 3px 10px 10px;
    width: 367px;
    height: 176px;
    float: left;
    margin-right: 3px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #FCFCFC;
}

.messageContainer {
    height: 22px;
    color: #f00;
    font-size: 11px;
    overflow: hidden;
}

.formrow {
    height: 32px;
}

.formrow label {
    display: block;
    width: 130px;
    float: left;
    font-weight: bold;
    margin-top: 5px;
}

.formrow input {
    width: 198px;
    padding: 2px;
    float: left;
    margin-left: 2px;
        border: #ccc solid 1px;
}

.formrow span.checkbox input {
    width: 16px;
    margin: 3px 0 0 0;
    border: none;
}

input.ui-button {
     
    /* float: right; */
    width: 68px;
   background: url(/shared/images/buttons/logon-reapet-bg.png) repeat-x;
   
       color:#fff;
           border-radius: inherit;
}

#rememberdetailsdisclaimer {
    width: 294px;
    float: left;
    padding: 0 0 0 0;
}

#logonrightpanel {
    padding: 6px;
    width: 140px;
    height: 184px;
    position: relative;
    float: left;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FCFCFC;
}

#logonrightpanel .productlogo {
    margin-bottom: 43px;
}

#logonrightpanel a.ui-button {
    width: 138px;
    left: 6px;
    position: absolute;
    border-radius:0px !important;
}

#logonrightpanel a#lnkSelfRegistration {
    bottom: 8px;
}

#logonrightpanel a#lnkForgottenDetails {
    bottom: 42px;
}


.logontooltip {
    float: right;
    margin: 0px 4px 0 4px;
    display: inline-block;
}

#logonPanel, #forgottenDetailsPanel {
    position: absolute;
    height: 180px;
    width: 366px;
}



#informationcontainer p {
    padding-left: 36px;
    background: transparent url("/static/icons/32/plain/information.png") no-repeat center left;
}

#informationcontainer p.Maintenance {
    background: transparent url("/static/icons/32/plain/construction_barrier.png") no-repeat center left;
}

/* START Tooltips */
.tooltipicon {
    cursor: help;
}

.commenttooltip {
    background-color: #E6E6E6;
    border: 1px solid #999;
}

.tooltipcontainer {
    width: 210px;
    padding: 4px;
    margin-left: 6px;
    background-color: #E6E6E6;
    border: 1px solid #999;
    border-radius: 3px;
}

.tooltipcontent {
    color: #000;
    padding: 6px;
}

#divforgotten:before {
    border-color: #E6E6E6 #E6E6E6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

div.speech {
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 132px;
    vertical-align: top;
    width: 150px;
}
div.speech:before {
    border: 5px solid;
    content: " ";
    height: 0;
    left: -9px;
    position: absolute;
    top: 11px;
    width: 0;
}

/* START Browser specific overrides */

/* IE7 */
.lt-ie8 #btnLogon {
    border: none !important;
    filter: progid:DXImageTransform.Microsoft.glow(color=#D3D3D3,strength=1);
}

.lt-ie8 #modal-panel, .lt-ie8 #titlebar-wrapper {
    background-color: #252525;
}

/* IE6 */ 
.lt-ie7 body {
    text-align: center;
}

.lt-ie7 img.productlogo {
    behavior: url(/shared/css/iepngfix.htc);
}

.lt-ie7 #front-background {
    display: none;
}

.lt-ie7 #titlebar-wrapper {
    width: 100%;
    background-color: #252525;
}

.lt-ie7 #front-wrapper {
    width: 100%;
}

.lt-ie7 #front-panel {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
}

.lt-ie7 #modal-panel {
    float: none;
    width: 560px;
    margin: 80px auto;
    text-align: left;
    background-color: #252525;
}

.lt-ie7 #logon-form {
    width: 550px;
}

.lt-ie7 #logonleftpanel {
    width: 390px;
    height: 194px !important;
}

.lt-ie7 #logonrightpanel {
    padding: 3px 0 10px 0;
    width: 148px;
    height: 194px !important;
}
/* END Browser specific overrides */

.ui-button-text-only .ui-button-text {
    color:#fff;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.ui-state-hover {
    border:1px solid none;
    background:none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border:none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    -webkit-border-top-left-radius:0px !important;
    border-top-left-radius:0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    -webkit-border-top-left-radius:0px !important;
    border-top-left-radius:0px !important;
}
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
    background: url(/shared/images/buttons/logon-reapet-bg.png) repeat-x !important;
    color:#fff;
    border-radius:inherit;
}
    .ui-button .ui-button-text {
        line-height: 17px;
    }

#forgottenDetailsButtons {
    float: right;
    margin-top: 10px;
}

.left-wrapper {
    display: table-cell;
    width: 100vh;
    min-width: 650px;
    background-color: #D8DDE6
}
#left{
    height:100vh;
}
#right {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    height: 100%;
    color: rgba(255, 255, 255, 0.6);
    border-left: 1px solid #D8DDE6;
}
#right.reduce-width {
    width: 48%;
}
.bx-viewport {
    height: 100vh !important;
}
.contentHolder {
    position: absolute;
    top: 170px;
    left: 57px;
    width: 100%;
}
.contentHolder img {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.content-title {
    font-family: 'ProximaNova-Medium', 'Arial', 'sans-serif';
    font-size: 14px;
    text-transform: uppercase;
    color: #5E6E66;
    margin-bottom: 24px;
    padding-left: 2px;
}
.content-description {
    width: 50%;
}
.content-description .title {
    font-family: 'ProximaNova-Light', 'Arial', 'sans-serif';
    font-size: 45px;
    line-height: 120%;
    font-weight: 100;
    color: #5E6E66;
    margin-top: 10px;
}
.content-description .copy {
    font-family: 'ProximaNova-Light', 'Arial', 'sans-serif';
    color: #5E6E66;
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-button {
    font-family: 'ProximaNova-Medium', 'Arial', 'sans-serif';
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dde6;
    color: #5E6E66;
    padding: 12px 24px;
    border-radius: 4px;
    line-height: 130% !important;
    text-decoration: none;
}
.bx-wrapper .bx-viewport {
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-left: 3px solid #fff;
}
#logonpage {
    overflow: hidden;
}
.sliderImage-resize {
    height: 100vh;
}
.preLoaderDiv {
    width: 100vh;
    height: 100vh;
}
.preLoaderDiv .preLoaderImage {
    margin-top: 40%;
    margin-left: 45%;
}
.slider-container-ie {
    width: auto;
    overflow: hidden;
    position: relative;
}
.hideElement {
    display: none !important;
}
body.logon-background{
    background-color: #D8DDE6;
}

.logonBottomPanel {
    width: 515px;
    clear: left;
    padding: 4px 0 0 0;
    color: #E8E8E8;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    #modal-panel {
        margin-top: 30%;
        margin-left:20%;
    }

    #right {
        display:none;
    }
}
@media screen and (max-height: 625px){
    #logonpage {
        overflow-y:auto;
    }
    .bx-viewport {
        height: 100% !important;
    }
    .sliderImage-resize {
        height: 100%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    #logonleftpanel {
        width: 347px;
    }

    #modal-panel {
        min-width: 515px;
        margin-top: 25%;
    }
    .formrow label {
        width: 120px;
    }

    .formrow input {
        width: 168px;
    }

    #logonPanel,  #forgottenDetailsPanel {
        width:340px;
    }

    #rememberdetailsdisclaimer {
        width:266px;
    }

    .left-wrapper {
        min-width:570px
    }

   
}
