<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=localhost;Initial Catalog=metabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="ApiLog" connectionString="Data Source=localhost;Initial Catalog=ApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;Application Name=Expenses" providerName="System.Data.SqlClient" />
    <add name="globaladdresses" connectionString="Data Source=localhost;Initial Catalog=GlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="redis" connectionString="localhost:6379" />
  </connectionStrings>
  <appSettings>
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
  </appSettings>
</configuration>