<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="ApiCrudUrl" value="http://main4.sel-expenses.com/API.svc"/>
    <add key="metabase" value="expenses" />
    <add key="apiBatchSize" value="100"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\Products\Main\log\EsrProcessorTraces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics performanceCounters="All" />

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="processor" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="65536" maxBufferSize="65536" maxReceivedMessageSize="1073741824" transferMode="StreamedRequest" />
        <binding name="rpc" sendTimeout="00:15:00" maxBufferPoolSize="200000000" maxReceivedMessageSize="200000000" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="EsrNhsHubBinding" />
        <binding name="EsrRouterBinding" />
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name="rpc" address="http://main5.sel-expenses.com/ApiRpc.svc" binding="basicHttpBinding" bindingConfiguration="rpc" contract="ApiService.IApiRpc" />
      <endpoint name="EsrNhsHubEndpoint" address="net.tcp://main.nibley.local:15002/EsrNhsHubCommands" binding="netTcpBinding" bindingConfiguration="EsrNhsHubBinding" contract="EsrNhsHub.IEsrNhsHubCommands" />
      <endpoint name="EsrRouterToHubEndpoint" address="net.tcp://main.nibley.local:15001/EsrRouter/ToHub" binding="netTcpBinding" bindingConfiguration="EsrRouterBinding" contract="EsrNhsHub.IEsrNhsHubCommands" />
    </client>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <services>
      <service name="EsrFileProcessingService.EsrFileProcessor">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="processor" name="EsrFileProcessor" contract="EsrFileProcessingService.IEsrFileProcessor" />
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="expenses" connectionString="Data Source=Main;Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="framework" connectionString="Data Source=Main;Initial Catalog=MainMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="ApiLog" connectionString="Data Source=Main;Initial Catalog=MainApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
