<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="enableDiagnostics" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\products\Team DC\log\RouterTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    <client>
      <endpoint address="net.tcp://main.nibley.local:15003/EsrFileProcessor"
              binding="netTcpBinding" bindingConfiguration="EsrFileProcessorBinding"
              contract="*"
              name="EsrFileProcessorEndpoint">
      </endpoint>
      <endpoint name="EsrNhsHubEndpoint" contract="*" binding="netTcpBinding" address="net.tcp://main.nibley.local:15002/EsrNhsHubCommands" bindingConfiguration="EsrNhsHubBinding" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EsrRouterBehaviour">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <routing filterTableName="EsrRouterFilterTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="EsrNhsHubBinding">
        </binding>
        <binding name="EsrRouterToHubBinding">
        </binding>
        <binding name="EsrRouterToProcessorBinding" receiveTimeout="00:15:00" transferMode="StreamedRequest" maxBufferSize="65536" maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="EsrFileProcessorBinding" receiveTimeout="00:15:00" transferMode="StreamedRequest" maxBufferSize="65536" maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <routing>
      <filters>
        <filter name="EsrRouterToProcessorFilter" filterType="EndpointAddress" filterData="net.tcp://dc.nibley.local:15001/EsrRouter/ToProcessor" />
        <filter name="EsrRouterToHubFilter" filterType="EndpointAddress" filterData="net.tcp://dc.nibley.local:15001/EsrRouter/ToHub" />
      </filters>
      <filterTables>
        <filterTable name="EsrRouterFilterTable">
          <add filterName="EsrRouterToProcessorFilter" endpointName="EsrFileProcessorEndpoint" />
          <add filterName="EsrRouterToHubFilter" endpointName="EsrNhsHubEndpoint" />
        </filterTable>
      </filterTables>
    </routing>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="EsrRouterBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://dc.nibley.local:15001/EsrRouter" />
          </baseAddresses>
        </host>
        <endpoint name="EsrRouterToProcessorEndpoint" address="ToProcessor" binding="netTcpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" bindingConfiguration="EsrRouterToProcessorBinding" />
        <endpoint name="EsrRouterToHubEndpoint" address="ToHub" binding="netTcpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" bindingConfiguration="EsrRouterToHubBinding" />
        <endpoint name="EsrRouterMex" address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>