<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
		<add key="mobileServiceEndPointAddress" value="http://apiforandroidandblackberry.sel-expenses/expenses/shared/api/mobile/mobileapi.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileDisabledMenuLink" value="http://selenity.com/expenses360/admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileDisabledMenuDescription" value="Find out how to save time and money by enabling our Expenses360 mobile app for your claimants." xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileDisabledMenuTitle" value="Enable Expenses360 mobile App for your claimants" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileDisabledMenuIcon" value="mobile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileActiveMenuLink" value="http://selenity.com/expenses360/user" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileActiveMenuDescription" value="Find out how to activate our Expenses360 mobile app so you can add your expenses with ease." xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileActiveMenuTitle" value="Expenses360 Mobile App" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileActiveMenuIcon" value="mobile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.serviceModel >
    <services>
      <service name="Spend_Management.MobileAPI" behaviorConfiguration="JsonBehavior" xdt:Transform="Replace">
        <endpoint address="jsonp" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" bindingConfiguration="jsonp" name="APIjsonp" contract="Spend_Management.IMobileAPI_jsonp" />
        <endpoint address="http://apiforandroidandblackberry.sel-expenses.com/shared/api/mobile/mobileapi.svc" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" bindingConfiguration="MobileBinding" name="API" contract="Spend_Management.IMobileAPI" />
        <host>
          <baseAddresses>
            <add baseAddress="http://apiforandroidandblackberry.sel-expenses.com" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" xdt:Transform="Replace">
      <baseAddressPrefixFilters>
        <add prefix="http://apiforandroidandblackberry.sel-expenses.com" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>


</configuration>
