<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=172.24.16.209;Initial Catalog=metabaseExpenses;User ID=spenduser;Password=p3hki/v7oLcZhsNMkx/4mA==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=172.24.16.209;Initial Catalog=ApiLog;User ID=spenduser;Password=p3hki/v7oLcZhsNMkx/4mA==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="globaladdresses" connectionString="Data Source=172.24.16.209;Initial Catalog=GlobalAddresses;User ID=spenduser;Password=p3hki/v7oLcZhsNMkx/4mA==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="10.181.106.19:6379" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="http://10.181.193.105:8091/pools" />
    </servers>
  </couchbase>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>