<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="expenses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>

    <!--<sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>-->
    <sectionGroup name="system.web">
    </sectionGroup>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
    <section name="sessionConfig" type="Spend_Management.SessionConfigSection" />
  </configSections>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=localhost;Initial Catalog=TestingMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="ApiLog" connectionString="Data Source=localhost;Initial Catalog=TestingApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;Application Name=Expenses" providerName="System.Data.SqlClient" />
    <add name="globaladdresses" connectionString="Data Source=localhost;Initial Catalog=TestingGlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="redis" connectionString="localhost:6379" />
  </connectionStrings>
  <appSettings>
    <add key="tfs.teamfound" value="http://localhost/teamfoundsvc/teamfound.asmx" />
    <add key="com.domyexpenses.www.teamfound" value="http://www.domyexpenses.com:8088/teamfound.asmx" />
    <add key="ReportsServicePath" value="tcp://localhost:5411" />
    <add key="SchedulerServicePath" value="tcp://localhost:5444" />
    <add key="TFSIntegratorLocation" value="http://localhost:50685" />
    <add key="ESRTransferServicePath" value="https://main1.sel-expenses.com:7019" />
    <add key="ImplementationSpreadsheetXMLTemplatePath" value=" D:\Products\2014.10.24.3\sites\Spend Management\XMLImportMappings\" />
    <add key="ImportSampleRowCount" value="10" />
    <add key="ServiceDeskOpeningHours" value="The opening hours for the Service Desk are 8:30am till 5:30pm, Monday to Friday, except on UK public holidays." />
    <add key="OfflinePort" value="7786" />
    <add key="StaticLibraryPath" value="/static" />
    <!-- Specify the Windows Explorer Folder location for our Static Library. This can be a Shared folder, such as \\shared\static content -->

    <add key="StaticLibraryFolderLocation" value="D:\Products\Main\StaticContent" />
    <add key="SupportEmailAddress" value="support@selenity.com" />
    <add key="SupportPortalUrl" value="http://sp.sel-expenses.com" />
    <!-- URL to the support portal, no trailing slash and no querystring -->
    <add key="logonImage_first" value="1" />
    <!-- Specify the first image number in a range to use on the logon page (/shared/images/logonimages/X.png) -->
    <add key="logonImage_last" value="5" />
    <add key="DisallowedAttachmentTypes" value="exe,js,com,srn" />
    <!-- Specify the last image number in a range to use on the logon page (/shared/images/logonimages/X.png), set the same as logonImage_first if you only want 1 image -->
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="spAuthName" value="test" />
    <add key="spAuthPassword" value="password" />
    <add key="ApplicationInstanceName" value="Expenses (Development)" />
    <add key="mobileServiceEndPointAddress" value="http://apitest.sel-expenses/expenses/shared/api/mobile/mobileapi.svc" />
    <add key="unitTestFTPServer" value="ftp:2100" />
    <add key="CharacterDottingLength" value="30" />
    <add key="LogonPageImagesPath" value="/shared/images/" />
    <add key="MobileDisabledMenuIcon" value="mobile" />
    <add key="MobileDisabledMenuTitle" value="Enable the Expenses Mobile App for your claimants" />
    <add key="MobileDisabledMenuDescription" value="Find out how to save time and money by enabling Expenses Mobile for your claimants" />
    <add key="MobileDisabledMenuLink" value="http://knowledge.software-europe.com/articles/Walkthrough_Guide/Enable-Expenses-Mobile-within-your-organisation/" />
    <add key="MobileActiveMenuIcon" value="mobile" />
    <add key="MobileActiveMenuTitle" value="Expenses Mobile App" />
    <add key="MobileActiveMenuDescription" value="Download the new app that allows you to manage your expenses without the need to power up your computer." />
    <add key="MobileActiveMenuLink" value="http://knowledge.software-europe.com/articles/Walkthrough_Guide/Download-Expenses-Mobile" />
    <add key="MobilePrefix" value="expensesmobile" />
    <add key="GreenLightInfoPage" value="http://www.selenity.com/eform-software/" />
    <add key="CacheType" value="2" />
    <add key="ReportsOutputFilePath" value="D:\Products\Reportfiles" />
    <add key="HostedEntityImageLocation" value="D:\Products\Main\EntityImages" />
    <add key="tempDocMergeImageLocation" value="D:\Products\Main\EntityImages" />
    <add key="BundlingEnableOptimisations" value="true" />
    <add key="maximumAnonymousLookupUsages" value="5" />
    <add key="NewRelicDetailedLogging" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SalesForceApiSandboxMode" value="true" />
    <!-- this key is only actually needed if you want to use SalesForce API in sandbox mode -->
    <add key="SalesForceApiUsername" value="api@software-europe.com" />
    <!-- in sandbox mode this value will have .sandbox appended, as the sandbox username is api.software-europe.com.sandbox -->
    <add key="SalesForceApiPassword" value="P3ngu1nsi2jlvLuBU2S45gj1EtKu7ak48" />
    <add key="SalesForceKnowledgeArticleProducts" value="Expenses__c, Expenses_Health__c, Greenlight__c, Mobile__c, Corporate_Diligence__c" />
    <add key="ForceHTTPSRedirect" value="false" />
    <add key="RackSpaceCloudUsername" value="" />
    <add key="RackSpaceCloudApiKey" value="" />
    <add key="DataStoreMode" value="filesystem" />
    <!-- This should be "cloudfiles" or "filesystem". The filesystem root is used below if not cloud files. -->
    <add key="DataStoreFileSystemModeRootPath" value="D:\Products\Main\Receipts\" />
    <add key="EnableBrokers" value="false" />
    <add key="DocMergeRetryStatusMax" value="500" />
    <add key="DocMergeRetryAttempts" value="3" />
    <add key="DocMergeRetrySleepTime" value="3000" />
    <add key="DocMergeSkipTableOfContents" value="true" />
    <!-- if true, the problematic SyncFusion WordDocument.UpdateTableOfContents method will not be used, instead the user will have to use Word to create a TOC. This key and it's usage in code should be removed once SyncFusion have fixed their bug -->
    <add key="DebugMerge" value="false" />
    <add key="SelPrivateCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.pfx" />
    <add key="SelPrivateCertificatePassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="SelPublicCertificateSCPath" value="\certificates\sel-expenses.com_2012-2017.cer" />
    <add key="PermittedHtmlTagsPath" value="D:\Products\Main\XMLPermittedHtmlTags\PermittedHtmlTags.xml" />
    <add key="EnvelopeAttachmentInstructionsUrl" value="/help_text/Content/Claimant Guide/EnvelopeAttachmentInstructions.txt" />
    <add key="LicenceCheckPortalAccessMode" value="MockTest" />
    <!-- This should be "Live" or "MockTest" or "Test". Consent url below will be used based on this configuration -->
    <add key="LicenceCheckConsentPortalLiveUrl" value="https://fleet.edavis.co.uk/partners/Econsent" />
    <!-- This is the consent portal URL for Live environment. This will be used if the LicenceCheckPortalAccessMode is configured as "Live"-->
    <add key="LicenceCheckConsentPortalDemoUrl" value="https://demo.edavis.co.uk/Partners/Econsent" />
    <!-- This is the consent portal URL for Mock or Test environment. This will be used if the LicenceCheckPortalAccessMode is configured as "MockTest"-->
    <add key="LicenceCheckPortalAccessUserName" value="Selenity" />
    <!--Username to access for LicenceCheck api service -->
    <add key="LicenceCheckPortalAccessPassword" value="rOTw/tcK4a9q8IS6aTpLvg==" />
    <!--Encrypted password to access LicenceCheck api service -->
    <add key="PublicApiUrl" value="http://development.api.localhost" />
  </appSettings>
  <sessionConfig>
    <add path="/shared/reports/reportviewer.aspx" />
    <add path="viewclaim.aspx" />
    <add path="/shared/reports/exportreport.aspx" />
    <add path="/shared/admin/emplogon.aspx" />
    <add path="/shared/admin/auditLog.aspx" />
    <add path="/shared/reports/reportviewer.aspx" />
    <add path="/shared/webservices/svcaddresses.asmx" />
    <add path="/shared/webservices/svcbroadcastmessages.asmx" />
    <add path="/shared/webservices/svccustomentities.asmx" />
    <add path="/shared/webservices/svcsubcats.asmx" />
    <add path="/shared/webservices/svcsubaccounts.asmx" />
    <add path="/shared/webservices/svcdocumentmerge.asmx" />
    <add path="/shared/webservices/svcsession.asmx" />
    <add path="/shared/reports/reportfunctions.asmx" />
  </sessionConfig>
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="360" />
    <!-- 5 minutes -->
    <globalization culture="en-GB" uiCulture="en-GB" />
    <healthMonitoring>
      <rules>
        <add name="Application Lifetime Events Default" eventName="Application Lifetime Events" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom="" />
      </rules>
    </healthMonitoring>
    <machineKey validationKey="FC1F3BEE27D60BCCB1EF3D823818AA041613EBF8397598867E4C97583B71C39E7E149324864A620C71AFC6D9FD4EB4E638DC3035716FFD3C9F2204D263E8F94E" decryptionKey="217064D25C4F52FFEA3B8C44E59962F62392E6E329598DF4" validation="SHA1" />
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="helpers" namespace="SpendManagementHelpers" assembly="SpendManagementHelpers" />
        <add tagPrefix="igmisc" namespace="Infragistics.WebUI.Misc" assembly="Infragistics4.WebUI.Misc.v11.1" />
        <add tagPrefix="ignav" namespace="Infragistics.WebUI.UltraWebNavigator" assembly="Infragistics4.WebUI.UltraWebNavigator.v11.1" />
        <add tagPrefix="ighedit" namespace="Infragistics.WebUI.WebHtmlEditor" assembly="Infragistics4.WebUI.WebHtmlEditor.v11.1" />
        <add tagPrefix="igtbl" namespace="Infragistics.WebUI.UltraWebGrid" assembly="Infragistics4.WebUI.UltraWebGrid.v11.1" />
        <add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebDateChooser.v11.1" />
        <add tagPrefix="igtblexp" namespace="Infragistics.WebUI.UltraWebGrid.ExcelExport" assembly="Infragistics4.WebUI.UltraWebGrid.ExcelExport.v11.1" />
        <add tagPrefix="igtxt" namespace="Infragistics.WebUI.WebDataInput" assembly="Infragistics4.WebUI.WebDataInput.v11.1" />
        <add tagPrefix="igchart" namespace="Infragistics.WebUI.UltraWebChart" assembly="Infragistics4.WebUI.UltraWebChart.v11.1" />
        <add tagPrefix="igcalc" namespace="Infragistics.WebUI.UltraWebCalcManager" assembly="Infragistics4.WebUI.UltraWebCalcManager.v11.1" />
        <add tagPrefix="igcmbo" namespace="Infragistics.WebUI.WebCombo" assembly="Infragistics4.WebUI.WebCombo.v11.1" />
        <add tagPrefix="igtbar" namespace="Infragistics.WebUI.UltraWebToolbar" assembly="Infragistics4.WebUI.UltraWebToolbar.v11.1" />
        <add tagPrefix="igtab" namespace="Infragistics.WebUI.UltraWebTab" assembly="Infragistics4.WebUI.UltraWebTab.v11.1" />
      </controls>
    </pages>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=192.168.101.46:42424" cookieless="false" timeout="120" />-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />
    <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=192.168.101.127;User ID=SpendUser;Password=P3ngu1ns;Max Pool Size=10000;" timeout="20" />-->
    <authentication mode="Forms">
      <forms name=".SpendManagement" loginUrl="~/shared/logon.aspx" defaultUrl="~/Default.aspx" timeout="120" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" defaultLanguage="c#" batch="false" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit, Version=4.1.7.123, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Infragistics4.WebUI.Documents.Excel.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Shared.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebCombo.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebCalcManager.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebGrid.ExcelExport.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebTab.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebDataInput.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebHtmlEditor.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebSchedule.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebChart.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Misc.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebDateChooser.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.2238, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="getDocument.axd" type="Spend_Management.getDocument" />
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="~/publicPages/error.aspx">
      <error statusCode="404" redirect="~/publicPages/error.aspx?404" />
      <error statusCode="500" redirect="~/publicPages/error.aspx?500" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="getDocument" verb="GET" path="getDocument.axd" type="Spend_Management.getDocument" />
      <add name="AjaxFileUploadHandler" verb="*" path="shared/AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
    <!--<modules>
      <add type="Spend_Management.SessionHttpHandler" name="SessionHttpHandler"/>
    </modules>-->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="receipts" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="webServices/receipts.asmx" allowOverride="true">
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpPost" />
        </protocols>
      </webServices>
    </system.web>
  </location>
  <location path="publicPages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/forgottendetails.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/register.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/register_success.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="svcTooltip.asmx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="expensesSvc.asmx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/verify.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="validate.js" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="blank.html" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="buttons">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/activate.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/sso.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/webservices/svcToolTip.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/webServices/svcaddresses.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/Authenticate.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ESR.rem" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <httpRuntime maxRequestLength="1048576" executionTimeout="14400" />
      <!-- 4 hours -->
    </system.web>
  </location>
  <location path="shared/css" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/API/SpendManagementAPI.svc" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/webservices/svcLogon.asmx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="shared/AjaxFileUploadHandler.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/master" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/common" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/jQuery" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/tooltips" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundles/logon" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/API/Mobile/MobileAPI.svc" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="shared/ImportsExports" allowOverride="true">
    <system.web>
      <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
      <!-- 1 hour -->
    </system.web>
  </location>
  <applicationSettings>
    <expenses.Properties.Settings>
      <setting name="expenses_postcodeanywhere_LookupInternational" serializeAs="String">
        <value>http://services.postcodeanywhere.co.uk/international/lookup.asmx</value>
      </setting>
      <setting name="expenses_postcodeanywhereuk_LookupUK" serializeAs="String">
        <value>http://services.postcodeanywhere.co.uk/uk/lookup.asmx</value>
      </setting>
      <setting name="expenses_helpandsupport_HelpAndSupport" serializeAs="String">
        <value>https://support.software-europe.co.uk/helpandsupport.asmx</value>
      </setting>
      <setting name="expenses_tfsIntegrator_svcErrors" serializeAs="String">
        <value>http://localhost/TFSIntegrator/svcErrors.asmx</value>
      </setting>
    </expenses.Properties.Settings>
  </applicationSettings>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="Spend_Management.cESRSvc, Spend Management" objectUri="ESR.rem" />
      </service>
      <channels>
        <channel ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
        <jsonSerialization maxJsonLength="2147483647">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="JsonBehavior" name="Spend_Management.MobileAPI">
        <endpoint address="" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" bindingConfiguration="MobileBinding" name="API" contract="Spend_Management.IMobileAPI" />
        <endpoint address="jsonp" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" bindingConfiguration="jsonp" name="APIjsonp" contract="Spend_Management.IMobileAPI_jsonp" />
        <!--<endpoint address="" behaviorConfiguration="JsonBehavior" binding="webHttpBinding" bindingConfiguration="MobileBinding" name="SecureAPI" contract="Spend_Management.IMobileAPI"/>-->
        <host>
          <baseAddresses>
            <add baseAddress="http://apitest.sel-expenses.com/shared/api/mobile/mobileapi.svc" />
            <!--<add baseAddress="https://apitest.sel-expenses.com/shared/api/mobile/mobileapi.svc"/>-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="pipeBinding" />
      </netNamedPipeBinding>
      <webHttpBinding>
        <binding name="MobileBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="SecureMobileBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="jsonp" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
      <netTcpBinding>
        <binding name="EsrNhsHubBinding" />
        <binding name="EsrRouterBinding" />
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuickCheck" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="EsrNhsHubEndpoint" address="net.tcp://localhost:15002/EsrNhsHubCommands" binding="netTcpBinding" bindingConfiguration="EsrNhsHubBinding" contract="EsrNhsHub.IEsrNhsHubCommands" />
      <endpoint name="EsrRouterToHubEndpoint" address="net.tcp://localhost:15001/EsrRouter/ToHub" binding="netTcpBinding" bindingConfiguration="EsrRouterBinding" contract="EsrNhsHub.IEsrNhsHubCommands" />
      <endpoint address="http://testapi.licencecheck.co.uk/QuickCheck.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuickCheck" contract="DutyOfCareLicenceCheckApi.IQuickCheck" name="BasicHttpBinding_IQuickCheck" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <enableWebScript />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="JsonBehavior">
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" httpsHelpPageEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--<enyim.com>
    <memcached>
      <servers>
        <add address="10.181.66.28" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:05" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>-->

  <couchbase>
    <servers bucket="expenses" bucketPassword="">
      <add uri="http://localhost:8091/pools" />
      <!--<add uri="http://127.0.0.1:8091/pools"/>-->
    </servers>
  </couchbase>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CKEditor.NET" publicKeyToken="e379cdf2f8354999" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.4460.0.15" newVersion="14.4460.0.15" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="messagelistener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\apilogs.svclog"></add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>