<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=localhost;Initial Catalog=TestingMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;Application Name=Expenses" providerName="System.Data.SqlClient" />
    <add name="ApiLog" connectionString="Data Source=localhost;Initial Catalog=TestingAPIlog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;Application Name=Expenses" providerName="System.Data.SqlClient" />
    <add name="globaladdresses" connectionString="Data Source=localhost;Initial Catalog=TestingGlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="redis" connectionString="localhost:6379" />
  </connectionStrings>
  <appSettings>
    <add key="ReportsServicePath" value="tcp://localhost:5411" />
    <add key="SchedulerServicePath" value="tcp://localhost:5444" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="active_module" value="2" />
    <!-- PurchaseOrders=1, expenses=2, contracts=3, SpendManagement=4, SmartDilligence=5 -->
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <!-- Not to be used outside dev - Set to true to use dummy user below instead of authenticating user -->
    <add key="skipAuth" value="0" />
    <!-- Set dummyUser if setting skipAuth to 1 - Value format is accountId,employeeId -->
    <add key="dummyUser" value="35,21301" />
    <add key="ExpensesSite" value="http://main1.sel-expenses.com/" />
    <add key="XmlDocumentationUrl" value="~/bin/SpendManagementApi.xml" />
    <add key="AuthTokenExpiryMinutes" value="120" />
    <add key="IncludeResponseOptions" value="1" />
    <add key="PassFullErrorInStackTrace" value="0" />
    <add key="UseHttps" value="0" />
    <add key="EnableCors" value="0" />
    <add key="BackgroundUpdateCallStatusInDatabase" value="1" />
    <add key="defaultModule" value="2" />
    <add key="StaticLibraryPath" value="static" />
    <add key="MobilePrefix" value="corpd" />
    <add key="RackSpaceCloudUsername" value="benjamin.hoe" />
    <add key="RackSpaceCloudApiKey" value="a33b6d65997544e385161664f92582bf" />
    <add key="DataStoreMode" value="filesystem" />
    <!-- This should be "cloudfiles" or "filesystem". The filesystem root is used below if not cloud files. -->
    <add key="DataStoreFileSystemModeRootPath" value="D:\Products\Main\receipts\" />
    <add key="EnvelopeBatchSize" value="1000" />
    <add key="DefaultDaysToWaitBeforeEnvelopeIsMissing" value="5" />
    <add key="SelenityIPAddressWhiteList" value="127.0.0.1" />
    <add key="EnableBrokers" value="false" />
    <add key="MobileUserAgent" value="Corp D Client|Expenses360" />
    <add key="DefaultApiVersion" value="1" />
    <add key="LowestSupportedApiVersion" value="1" />
    <add key="EnvelopeAttachmentInstructionsUrl" value="/help_text/Content/Claimant Guide/EnvelopeAttachmentInstructions.txt" />
    <add key="SystemGreenLightIPAddressWhiteList" value="127.0.0.1" />
    <!--System greenlight admin-->
    <add key="SystemGreenLightSourceAccountId" value="262" />
    <add key="SystemGreenLightAdminUserName" value="adminsystemgreenlight" />
    <!--DVLA Lookup Settings-->
    <add key="LicenceCheckPortalAccessMode" value="MockTest" />
    <!-- This should be "Live" or "MockTest" or "Test". Consent url below will be used based on this configuration -->
    <add key="LicenceCheckConsentPortalLiveUrl" value="https://fleet.edavis.co.uk/partners/Econsent" />
    <!-- This is the consent portal URL for Live environment. This will be used if the LicenceCheckPortalAccessMode is configured as "Live"-->
    <add key="LicenceCheckConsentPortalDemoUrl" value="https://demo.edavis.co.uk/Partners/Econsent" />
    <!-- This is the consent portal URL for Mock or Test environment. This will be used if the LicenceCheckPortalAccessMode is configured as "MockTest"-->
    <add key="LicenceCheckPortalAccessUserName" value="Selenity" />
    <!--Username to access for LicenceCheck api service -->
    <add key="LicenceCheckPortalAccessPassword" value="rOTw/tcK4a9q8IS6aTpLvg==" />
    <!-- password to access LicenceCheck api service -->
    <add key="NewRelic.AppName" value="API Main" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="10485" />
  </system.web>
  <system.webServer>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <couchbase>
    <servers bucket="expenses" bucketPassword="">
      <add uri="http://127.0.0.1:8091/pools" />
    </servers>
  </couchbase>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CKEditor.NET" publicKeyToken="e379cdf2f8354999" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.4460.0.15" newVersion="14.4460.0.15" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuickCheck" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://testapi.licencecheck.co.uk/QuickCheck.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuickCheck" contract="DutyOfCareLicenceCheckApi.IQuickCheck" name="BasicHttpBinding_IQuickCheck" />
    </client>
  </system.serviceModel>
</configuration>