<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=$(databaseServer_token);Initial Catalog=ApiLog;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="globaladdresses" connectionString="Data Source=$(databaseServer_token);Initial Catalog=GlobalAddresses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="$(redisServer_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ReceiptQueue" value="receipt_queue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MessageBroker" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsServicePath" value="tcp://$(servicesServer_token):1976" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SchedulerServicePath" value="tcp://$(servicesServer_token):1989" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpassword" value="$(databasePassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  	<add key="ExpensesSite" value="$(siteUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <!--<add key="XmlDocumentationUrl" value="~/bin/SpendManagementApi.xml" />-->
	  <add key="AuthTokenExpiryMinutes" value="120" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  	<add key="IncludeResponseOptions" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="PassFullErrorInStackTrace" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="UseHttps" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="EnableCors" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="BackgroundUpdateCallStatusInDatabase" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="defaultModule" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="StaticLibraryPath" value="static" />-->
	  <add key="MobilePrefix" value="corpd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RackSpaceCloudUsername" value="benjamin.hoe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RackSpaceCloudApiKey" value="$(rackspaceCloudApiKey_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DataStoreMode" value="filesystem" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DataStoreFileSystemModeRootPath" value="\\$(cachingServer_token)\ReceiptsTemp\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnvelopeBatchSize" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultDaysToWaitBeforeEnvelopeIsMissing" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SelenityIPAddressWhiteList" value="127.0.0.1|$(selenityIP_token)|$(servicesServerExternal_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableBrokers" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MobileUserAgent" value="Corp D Client|Expenses360" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="DefaultApiVersion" value="1" />-->
    <!--<add key="LowestSupportedApiVersion" value="1" />-->
    <add key="EnvelopeAttachmentInstructionsUrl" value="/help_text/Content/Claimant Guide/EnvelopeAttachmentInstructions.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemGreenLightIPAddressWhiteList" value="127.0.0.1|$(selenityIP_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemGreenLightSourceAccountId" value="262" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemGreenLightAdminUserName" value="adminsystemgreenlight" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  	<add key="NewRelic.AppName" value="API Main" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LicenceCheckPortalAccessMode" value="MockTest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- This should be "Live" or "MockTest" or "Test". Consent url below will be used based on this configuration -->
    <add key="LicenceCheckConsentPortalLiveUrl" value="https://fleet.edavis.co.uk/partners/Econsent" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- This is the consent portal URL for Live environment. This will be used if the LicenceCheckPortalAccessMode is configured as "Live"-->
    <add key="LicenceCheckConsentPortalDemoUrl" value="https://demo.edavis.co.uk/Partners/Econsent" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- This is the consent portal URL for Mock or Test environment. This will be used if the LicenceCheckPortalAccessMode is configured as "MockTest"-->
    <add key="LicenceCheckPortalAccessUserName" value="Selenity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Username to access for LicenceCheck api service -->
    <add key="LicenceCheckPortalAccessPassword" value="rOTw/tcK4a9q8IS6aTpLvg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Encrypted password to access LicenceCheck api service -->
    <add key="FeatureFlagConfigPath" value="D:\Products\$(releaseVersion_token)\sites\SpendManagementApi\Feature.Flags.json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>

  <system.serviceModel xdt:Transform="Replace" >
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IQuickCheck">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
      <binding name="BasicHttpBinding_IVDLService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://secureapi.licencecheck.co.uk/QuickCheck.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuickCheck"
      contract="DutyOfCareLicenceCheckApi.IQuickCheck" name="WSHttpBinding_IQuickCheck" />
      <endpoint address="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVDLService"
                contract="VDLVehicleLookup.IVDLService" name="BasicHttpBinding_IVDLService" />
    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>