<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings >
    <add name="metabase" connectionString="Data Source=GAIA;Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="globaladdresses" connectionString="Data Source=GAIA;Initial Catalog=MainGlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=GAIA;Initial Catalog=MainApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="localhost:6379" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <couchbase>
    <servers bucket="MainExpenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="http://localhost:8091/pools" />
    </servers>
  </couchbase>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>