<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=gaia;Initial Catalog=MainMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;Application Name=Expenses NoSql Loader" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="globaladdresses" connectionString="Data Source=gaia;Initial Catalog=MainGlobalAddresses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="localhost:6379" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add key="active_module" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>