<log4net>
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <RemoteAddress value="192.168.111.83" />
    <RemotePort value="5960" />
    <layout type="Common.Logging.Log4Net.JsonLayout, Common">
      <member value="property{activityid}" />
      <member value="property{accountid}" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level: %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="UdpAppender"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</log4net>