<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="expenses" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="framework" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabase;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=$(databaseServer_token);Initial Catalog=ApiLog;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="metabase" value="expenses" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpassword" value="$(databasePassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ImplementationSpreadsheetXMLTemplatePath" value="D:\Products\XMLImportMappings" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="apiBatchSize" value="1000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="https" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="domain" value="webapi.sel-expenses.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\Logs\CrudTraces.svclog" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="EsrFileProcessorBehaviour" name="EsrGo2FromNhsWcfLibrary.EsrFileProcessor">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="EsrFileProcessorBinding" contract="EsrGo2FromNhsWcfLibrary.Interfaces.IEsrFileProcessor">
          <identity>
            <dns value="localhost" xdt:Transform="Replace" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://esrapi.sel-expenses.com:15003/EsrFileProcessor" xdt:Transform="Replace" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="EsrFileProcessorBinding" receiveTimeout="00:15:00" transferMode="StreamedRequest" maxBufferSize="65536" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="200" maxStringContentLength="200000000" maxArrayLength="1073741824" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="EsrRouterBinding" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="EsrRouterToHubEndpoint" address="net.tcp://$(esrLinkServerExternal_token):15001/EsrRouter/ToHub" binding="netTcpBinding" bindingConfiguration="EsrRouterBinding" contract="EsrNhsHubCommands.IEsrNhsHubCommands" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EsrFileProcessorBehaviour">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>
</configuration>