<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=localhost;Initial Catalog=TestingMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Port" value="7797" />
    <add key="ReportsServicePath" value="tcp://localhost:7786" />
    <add key="ApplicationURL" value="https://main1.sel-expenses.com/" />
    <add key="TimerSetting" value="120000" />
    <add key="ESRService" value="https://main1.sel-expenses.com/" />
    <add key="LoggingPath" value="c:\" />
    <add key="NumberOfThreads" value="5" />
    <add key="ThreadPollInterval" value="1000" />
    <add key="EnablePasswordKeys" value="true" />
    <add key="EnablePurchaseOrders" value="false" />
    <add key="EnableSchedules" value="true" />
    <add key="EnableAutomatedImports" value="false" />
    <add key="EnableTaskNotifications" value="false" />
    <add key="ValidHostnameIDs" value="8,9,10" />
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="ApplicationInstanceName" value="Expenses" />
    <add key="defaultModule" value="2" />
    <add key="enableLogging" value="1" />
    <add key="templatePath" value="C:\projects\Spend Management\GreenLight\frameworkWebApp" />
    <add key="emailSenderEnabled" value="true" />
    <add key="ReportsOutputFilePath" value="d:\Products\Reportfiles" />
    <add key="EnableESRPersonChecks" value="false" />
    <add key="EnableESRAssignmentChecks" value="false" />
    <add key="EnableESRVehicleChecks" value="false" />
  </appSettings>
  <couchbase>
    <servers bucket="expenses" bucketPassword="">
      <add uri="http://192.168.111.184:8091/pools" />
    </servers>
  </couchbase>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.4460.0.15" newVersion="14.4460.0.15" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CKEditor.NET" publicKeyToken="e379cdf2f8354999" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
