<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="$(redisServer_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="redisDatabaseNumber" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="$(schedulerServicePort_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsServicePath" value="tcp://$(servicesServer_token):$(reportsServicePort_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationURL" value ="$(siteUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TimerSetting" value="900000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ESRService" value="$(siteUrl_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingPath" value="d:\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NumberOfThreads" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThreadPollInterval" value="1000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnablePasswordKeys" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnablePurchaseOrders" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableSchedules" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableAutomatedImports" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableTaskNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ValidHostnameIDs" value="8,9,10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="dbpassword" value="$(databasePassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationInstanceName" value="Expenses" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="defaultModule" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableLogging" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="templatePath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="emailSenderEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsOutputFilePath" value="D:\Report Files\Reportfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableESRPersonChecks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableESRAssignmentChecks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableESRVehicleChecks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>

</configuration>