<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="metabase" connectionString="Data Source=$(databaseServer_token);Initial Catalog=metabaseExpenses;User ID=spenduser;Password=$(databasePassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="redis" connectionString="$(redisServer_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="redisDatabaseNumber" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Port" value="1989" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsServicePath" value="tcp://$(servicesServer_token):1976" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationURL" value ="http://www.sel-expenses.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingPath" value="D:\Products\$(releaseVersion_token)\Services\Expenses\Scheduler" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ThreadPollInterval" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableAutomatedImports" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ValidHostnameIDs" value="1,2,3,8,9,10,11,12,13,14,15,16,17,18,19,20,21,27" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationInstanceName" value="Expenses" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="defaultModule" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableLogging" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="emailSenderEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportsOutputFilePath" value="D:\Report Files\Reportfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableESRPersonChecks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableESRAssignmentChecks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableESRVehicleChecks" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <couchbase>
    <servers bucket="expenses" bucketPassword="" xdt:Transform="Replace" >
      <add uri="$(couchbaseServerURI_token)" />
    </servers>
  </couchbase>

</configuration>