<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <couchbase>
    <servers bucket="StarWars" bucketPassword="">
      <add uri="http://192.168.1.55:8091/pools" />
    </servers>
  </couchbase>
  <appSettings>
    <add key="UsingLocalMachine" value="true" />
    <add key ="executingProduct" value="expenses"/>
    <add key ="accountID" value="167"/>
    <add key="expensesCompanyID" value="ex_swco" />
    <add key="expensesAdminUsername" value="james" />
    <add key="expensesAdminPassword" value="Password1" />
    <add key="expensesClaimantUsername" value="martin" />
    <add key="expensesClaimantPassword" value="Password1" />
    <add key="expensesWebAddress" value ="sw1.sel-expenses.com"/>
    <add key="frameworkCompanyID" value="fw_sw" />
    <add key="frameworkAdminUsername" value="james" />
    <add key="frameworkAdminPassword" value="Password1" />
    <add key="frameworkClaimantUsername" value="martin" />
    <add key="frameworkClaimantPassword" value="Password1" />
    <add key="frameworkWebAddress" value ="sw2.sel-expenses.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ=="/>
  </appSettings>
  <connectionStrings>
    <add name="expensesDatabase" connectionString="Data Source=starwars;Initial Catalog=TeamStarWarsExpensesCodedUI;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns" />
    <add name="frameworkDatabase" connectionString="Data Source=starwars;Initial Catalog=TeamStarWarsFramework;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns" />
    <add name="DatasourceDatabase" connectionString="Data Source=company.software-europe.co.uk;Initial Catalog=AutoTestingDataSources;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Max Pool Size=10000;providerName=System.Data.SqlClient"/>
    <add name="expensesMetabase" connectionString="Data Source=starwars;Initial Catalog=TeamStarWarsMetabaseExpenses;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns" />
    <add name="frameworkMetabase" connectionString="Data Source=starwars;Initial Catalog=TeamStarWarsMetabaseFramework;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>

