<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "D:\Products\Team DC\log\CrudTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true" />
    </diagnostics>
    
    <services>
      <service name="ApiCrud.ApiService">
        <endpoint address="http://dc4.sel-expenses.com/API.svc" binding="webHttpBinding" contract="ApiCrud.Interfaces.IApiCrud" bindingConfiguration="restBinding" behaviorConfiguration="restBehaviour" endpointConfiguration="restEndpoint" kind="webHttpEndpoint" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="restBinding" maxBufferSize="200000000" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <readerQuotas maxDepth="200" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="restEndpoint" defaultOutgoingResponseFormat="Json" maxBufferSize="200000000" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000">
          <readerQuotas maxDepth="200" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  
  <connectionStrings>
    <add name="expenses" connectionString="Data Source=dc;Initial Catalog=TeamDCMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="framework" connectionString="Data Source=dc;Initial Catalog=TeamDCMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="ApiLog" connectionString="Data Source=dc;Initial Catalog=TeamDCApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <couchbase>
    <servers bucket="Default" bucketPassword="">
      <add uri="http://192.168.1.186:8091/pools" />
    </servers>
  </couchbase>
</configuration>
