<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="D:\Products\StarWars\log\CrudTraces.svclog" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>


  <system.serviceModel>
    <services>
      <service name="ApiCrud.ApiService" xdt:Transform="Replace" >
        <endpoint address="http://sw3.sel-expenses.com/Api.svc" binding="webHttpBinding" contract="ApiCrud.Interfaces.IApiCrud" bindingConfiguration="restBinding" behaviorConfiguration="restBehaviour" endpointConfiguration="restEndpoint" kind="webHttpEndpoint" />
      </service>
    </services>
  </system.serviceModel>
  
  <connectionStrings>
    <add name="expenses" connectionString="Data Source=StarWars;Initial Catalog=TeamStarWarsMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="framework" connectionString="Data Source=StarWars;Initial Catalog=TeamStarWarsMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApiLog" connectionString="Data Source=StarWars;Initial Catalog=TeamStarWarsApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <couchbase>
    <servers bucket="StarWars" bucketPassword="" xdt:Transform="Replace" >
      <add uri="http://192.168.111.55:8091/pools" />
    </servers>
  </couchbase>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>