<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseUnitTesting" type="Microsoft.Data.Schema.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.Data.Schema.UnitTesting, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <DatabaseUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=lithium;Initial Catalog=ut_spendmanagement;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Pooling=False"
      CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=lithium;Initial Catalog=ut_spendmanagement;Persist Security Info=True;User ID=spenduser;Password=P3ngu1ns;Pooling=False"
      CommandTimeout="30" />
  </DatabaseUnitTesting>
  <connectionStrings>
    <add name="metabase" connectionString="Data Source=testdb3;Initial Catalog=metabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="unittestdb" connectionString="Data Source=testdb3;Initial Catalog=expenses_codedui;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--ut_autotesting on lithium keys-->
    <add key="UnitTestSettings" value="true" />
    <!--<add key="AccountID" value="396" />-->
    <add key="AccountID" value="423" />
    <!--expenses_codedui (testdb3)-->
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="active_module" value="3" />
    <!--<add key="EmployeeID" value="21423" />
    <add key="AlternativeEmployeeID" value="16015" />-->
    <add key="EmployeeID" value="21359" />
    <!--expenses_codedui (testdb3)-->
    <add key="AlternativeEmployeeID" value="21333" />
    <!--expenses_codedui (testdb3)-->
    <add key="DelegateID" value="21359" />
    <!--expenses_codedui (testdb3)-->
    <add key="SubAccountID" value="1" />
    <add key="DefaultSubAccountID" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AttachmentsZipDestinationPath" value="c:\zipcreatortest\"/>
    <add key="AttachmentsTestFilesPath" value="c:\zipcreatortestfiles\"/>
    <add key="LocationForCardTestFiles" value="C:\Projects\Spend Management\GreenlightDevelopment\SpendManagementUnitTests\Credit Cards\Test Data Files\"/>

    <!--expenses_codedui on testdb3 keys-->
    <!--<add key="UnitTestSettings" value="true" />
    <add key="AccountID" value="423" />
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="active_module" value="2" />
    <add key="EmployeeID" value="21333" />
    <add key="AlternativeEmployeeID" value="21243" />
    <add key="DelegateID" value="21243" />
    <add key="SubAccountID" value="1" />
    <add key="DefaultSubAccountID" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AttachmentsZipDestinationPath" value="c:\zipcreatortest\"/>
    <add key="AttachmentsTestFilesPath" value="c:\zipcreatortestfiles\"/>
    <add key="LocationForCardTestFiles" value="C:\Projects\Spend Management\Greenlight\SpendManagementUnitTests\Credit Cards\Test Data Files\"/>-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
