<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="metabase" connectionString="Data Source=testdb2;Initial Catalog=metabase;User ID=spenduser;Password=P3ngu1ns;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Port" value="7886"/>
		<add key="ServiceName" value="SEL_ReportEngine"/>
    <add key="ServiceDescription" value="Contracts Report Engine" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
