<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\Services\ESRRouter\log\RouterTraces.svclog" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://$(esrAPIBaseAddress_token):15003/EsrFileProcessor" binding="netTcpBinding" bindingConfiguration="EsrFileProcessorBinding" contract="*" name="EsrFileProcessorEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="EsrNhsHubEndpoint" contract="*" binding="netTcpBinding" address="net.tcp://$(nhsLinkServerInternal_token):15002/EsrNhsHubCommands" bindingConfiguration="EsrNhsHubBinding" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>

    <routing>
      <filters>
        <filter name="EsrRouterToProcessorFilter" filterType="EndpointAddress" filterData="net.tcp://$(esrLinkServerInternal_token):15001/EsrRouter/ToProcessor" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <filter name="EsrRouterToHubFilter" filterType="EndpointAddress" filterData="net.tcp://$(esrLinkServerInternal_token):15001/EsrRouter/ToHub" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <filter name="EsrRouterToHubFilterFromWeb" filterType="EndpointAddress" filterData="net.tcp://$(esrLinkServerInternalToNibley_token):15001/EsrRouter/ToHub" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </filters>
      <filterTables>
        <filterTable name="EsrRouterFilterTable" xdt:Transform="Replace">
          <add filterName="EsrRouterToProcessorFilter" endpointName="EsrFileProcessorEndpoint" />
          <add filterName="EsrRouterToHubFilter" endpointName="EsrNhsHubEndpoint" />
          <add filterName="EsrRouterToHubFilterFromWeb" endpointName="EsrNhsHubEndpoint" />
        </filterTable>
      </filterTables>
    </routing>

    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="EsrRouterBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://$(esrLinkServerInternal_token):15001/EsrRouter" xdt:Transform="Replace" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>