<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVDLService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IQuickCheck">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secureapi.licencecheck.co.uk/QuickCheck.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuickCheck"
                contract="DutyOfCareLicenceCheckApi.IQuickCheck" name="WSHttpBinding_IQuickCheck" />
            <endpoint address="http://vdl.licencecheck.co.uk/wcfVehicleLookup.VDLService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVDLService"
                contract="VDLVehicleLookup.IVDLService" name="BasicHttpBinding_IVDLService" />
        </client>
    </system.serviceModel>
  </configuration>