<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IQuickCheck">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secureapi.licencecheck.co.uk/QuickCheck.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuickCheck"
                contract="DutyOfCareLicenceCheckApi.IQuickCheck" name="WSHttpBinding_IQuickCheck" />
        </client>
    </system.serviceModel>
  </configuration>