<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ApiCrudUrl" value="http://dc4.sel-expenses.com/API.svc"/>
    <add key="metabase" value ="expenses"/>
    <add key="dbpassword" value="JT29Nz0PxpDmnGr2zcXooQ==" />
    <add key="ImplementationSpreadsheetXMLTemplatePath" value="\\192.168.111.14\Products\Team DC\XMLImportMappings"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "d:\products\Team DC\log\RpcTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true"/>
    </diagnostics>
    
    <bindings>
      <basicHttpBinding>
        <binding name="myHttpBinding" allowCookies="true" maxBufferSize="200000000" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <readerQuotas maxDepth="200" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="b1" name="ApiRpc.ApiRpc">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" name="rpc" contract="ApiRpc.Interfaces.IApiRpc"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="b1" >
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"  />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  
  <connectionStrings>
    <add name="ApiLog" connectionString="Data Source=dc;Initial Catalog=TeamDCApiLog;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="expenses" connectionString="Data Source=dc;Initial Catalog=TeamDCMetabaseExpenses;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="framework" connectionString="Data Source=dc;Initial Catalog=TeamDCMetabaseFramework;User ID=spenduser;Password=JT29Nz0PxpDmnGr2zcXooQ==;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <couchbase>
    <servers bucket="Default" bucketPassword="">
      <add uri="http://192.168.1.186:8091/pools" />
      </servers>
  </couchbase>
</configuration>
