<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ESRFileTransfer" connectionString="Data Source=$(esrLinkServerName_token);Initial Catalog=ESRFileTransfer;User ID=ESRUser;Password=$(esrUserPassword_token);Max Pool Size=10000;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="esrNhsHubEntities" connectionString="metadata=res://*/Database.esrNhsHub.csdl|res://*/Database.esrNhsHub.ssdl|res://*/Database.esrNhsHub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=$(esrLinkServerName_token);initial catalog=EsrNhsHub;persist security info=True;user id=esrnhshubuser;password=$(esrNhsHubUserPassword_token);MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="WebServicePollTime" value="60000"/>
    <add key="dbpassword" value="$(esrUserPassword_token)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="active_module" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>