<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ESRFileTransfer" connectionString="Data Source=localhost;Initial Catalog=ESRFileTransfer;User ID=ESRUser;Password=Uhakuh8ZJHBe3U+gncd58A==;Max Pool Size=10000;" providerName="System.Data.SqlClient" />
    <add name="esrNhsHubEntities" connectionString="metadata=res://*/Database.esrNhsHub.csdl|res://*/Database.esrNhsHub.ssdl|res://*/Database.esrNhsHub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DevelopmentEsrNhsHub;persist security info=True;user id=SPENDUSER;password=JT29Nz0PxpDmnGr2zcXooQ==;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="esrNhsHubEntities" connectionString="metadata=res://*/Database.esrNhsHub.csdl|res://*/Database.esrNhsHub.ssdl|res://*/Database.esrNhsHub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DevelopmentEsrNhsHub;persist security info=True;user id=esrnhshubuser;password=QcqK45hdr3Les2Oz2+t+rR1797naaecxMjnHUlAYBrM=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="WebServicePollTime" value="60000" />
    <add key="dbpassword" value="Uhakuh8ZJHBe3U+gncd58A==" />
    <!-- 53RL0g1n -->
    <add key="active_module" value="8" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CKEditor.NET" publicKeyToken="e379cdf2f8354999" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.4460.0.15" newVersion="14.4460.0.15" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>